package views

templ IndexPage(vm PageVM) {
	@Layout(vm) {
		@MainContent(vm)
	}
}

templ MainContent(vm PageVM) {
	switch vm.ViewMode {
		case "big":
			<div class="flex flex-wrap gap-[18px] items-start">
				for _, s := range vm.Series {
					if vm.FilterSlug == "" || vm.FilterSlug == s.Config.SlugName {
						if !vm.OnlyMissing || s.MissingAudio > 0 || s.MissingEbook > 0 {
							@CardBig(s)
						}
					}
				}
			</div>
		case "medium":
			<div class="flex flex-wrap gap-[18px] items-start">
				for _, s := range vm.Series {
					if vm.FilterSlug == "" || vm.FilterSlug == s.Config.SlugName {
						if !vm.OnlyMissing || s.MissingAudio > 0 || s.MissingEbook > 0 {
							@CardMedium(s)
						}
					}
				}
			</div>
		default:
			for _, s := range vm.Series {
				if vm.FilterSlug == "" || vm.FilterSlug == s.Config.SlugName {
					@SeriesDetail(s)
				}
			}
	}
}
